// Colors
$primary-red = #F44336
$primary-orange = #FF6F00
$lighter-orange = #FF8F00
$lightest-orange = #FFA000
$off-white = #FFF8E1

// Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Droid+Serif:400,400italic,700");

// Font Sizes
type-micro() { font-size 6px }
type-smallest() { font-size 8px }
type-smaller() { font-size 10px }
type-small() { font-size 16px }
type-base() { font-size 21px }
type-large() { font-size 24px }
type-larger() { font-size 32px }
type-largest() { font-size 36px }
type-jumbo() { font-size 42px }

// Font Families
type-title() { font-family 'Open Sans', sans-serif }
type-text() { font-family 'Droid Serif', serif }
type-code() { font-family Courier, monospace }

nav
  height 60px
  width 800px
  background-color white
  display block
  margin auto

.nav-wrapper
  display flex
  justify-content space-between
  flex-direction row

.feed-container
  display flex
  justify-content center

.news-feed
  width 600px

.news-item
  width 100%
